
// App.scss
@keyframes focusStyle {
    to{
      box-shadow:  
        0 0 0 8px rgba(0,0,0,.1);
    }
  }
  
  // Maintening.scss
  @keyframes App-logo-spin {
    from {
      transform: rotate(0);
    }
    25%{
      transform: rotate(-90deg);

    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes App-W-I-P {
    0% {
        font-size: 2.2rem;
        color: var(--color-secondary);
        text-shadow: 0 0 7px var(--color-secondary);
        transform: rotate(0deg);
    }
    90% {
        color: transparent;
        text-shadow: none;
        box-shadow: none;
        background-color: transparent;
        transform: rotate(90deg);
    
    
    }
    100%{
      
        color: var(--color-secondary);
        text-shadow: 0 0 7px var(--color-secondary);
        transform: rotate(0deg);
       
    }
  }
  // Nav.scss
  @keyframes pulse {
    to{
        font-weight: 900;
        font-size: 1.6rem;
        box-shadow: 0 0 0 12px rgba(255,255,255,.1);
    }
  }
  // PostProjetc.scss
  @keyframes showBtnStyle1{
    0% {
        left:-100%
    }
    50%, 100%{
        left:100%
    }
  }
  @keyframes showBtnStyle2{
    0%{
      top:-100%;
      
    }50%, 100%{
      top:100%
    }
  }
  @keyframes showBtnStyle3 {
    0%{
      right:-100%;
    }
    50%, 100%{
      right:100%
    }
  }
  @keyframes showBtnStyle4{
    0%{
      bottom:-100%;
      
    }50%, 100%{
      bottom:100%
    }
  }
  
  @keyframes btnFocus {
      from{
        background: linear-gradient(90deg, rgba(255,255,255,.3), rgba(255,255,255,1));    
      }25%{
        background: linear-gradient(180deg, rgba(255,255,255,.3), rgba(255,255,255,1));
  
      }75%{
        background: linear-gradient(270deg, rgba(255,255,255,.3), rgba(255,255,255,1));   
      }
      to{
        background: linear-gradient(360deg, rgba(255,255,255,.3), rgba(255,255,255,1));
      }
  }
  // Present.scss
 