footer{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height:100vh;
    padding: 0;
    .content-cust{
        display: flex;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }

    img{
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        position: absolute;
    }
    div.meta-footer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 215px;
        // padding: 112.5px 0;
        bottom: 0px;
        left: 0;
        width: 100%;
        background: $color-secondary;
        ul{
            li{
                height: 36px;
                width: 36px;
            }
        }
        p{
            font-size: 14px;
            color: $color-primary;
        }
        .designer {
            font-size: 18px;

            font-weight: 600;
            a{
                color: $color-h2;
            }
        }
    }
}