.header-principal {
    z-index: 3;
    position: relative;
    top: 0;
    left: -1px;
    right: 0;
    height: calc(100vh - 92px);
    //padding: 0 150px;
    width: calc(100%);
}
.img-back-head {
    position: absolute;
    left: 0;
    height: calc(100vh - 92px);
}
nav{
    z-index: 3;
    position: fixed;
    top: initial;
    bottom: 0;
    right: 0px;
    left: 0px;
    margin: auto;
    padding: 20px 0;
    background: $color-secondary;
    max-width: 100%;
    transition: 200ms ease-in;
    ul{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        li{
            button{
                position: relative;
                border: none;
                font-size: 32px;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color-third;
             
                padding: 10px;
                background-color: transparent;
                transition: 300ms ease-in ;
                svg.icons-nav {
                    min-width: 24px;
                    min-height: 24px;
                }
                &:hover{
                    cursor: pointer;
                    font-weight: bold;
                    color: #F44336;
                    justify-content: center;
                    transition: 300ms ease-in-out ;
                    background: white;
                    border-radius: 50%;
                    
                }
            }
        }
    }
}
.container-data-h{
    height: calc(100%);
    display: flex;
}
.data-start{
    display: grid;
    grid-template-rows: 1.3fr 1.1fr .6fr;
    height: 155px;
    margin: auto 0;
    width: 100%;
    *{
        width: fit-content;
        margin: auto;
    }
    h1{
        color: $color-secondary;
        font-size: 38px;
        text-transform: uppercase;
        -webkit-text-stroke: 1.5px $color-primary;
        font-weight: 900;
    }
    h2{
        line-height: 16px;
        text-transform: capitalize;
        font-weight: 600;
        color: $color-primary;
        font-size: 19px;
    }
    
}
@media screen and (min-width: 500px) {
   
    li.nav-list-elt{
        button{

            
            &::after{
                content:url('../../../assets/backDesign/NavFocus.svg');
                position: absolute;
                top: -160px;
                left:initial;
                z-index: -1;
                transition: 300ms ease-in ;
                opacity: 0;
            }
            &:hover{
                background: transparent;
                border-radius: initial;
                &::after{
                    top: -22px;
                    transition: 300ms ease-in-out ;
                    opacity: 1;
                }
            }
        }
    }
    .data-start{
        h2{
            font-size: 24px;
        }
        
    }
      
}
@media screen and (min-width: 800px) {
    .header-principal {
      
        padding: 0 100px;
        width: calc(100% - 200px);
    }
    nav{
        ul{
            li{
                button{
                    font-size: 24px;
                }
            }
        }
    }
    .data-start{
        width: initial;
        *{
            margin: 0;
        }
    }
    
}
@media screen and (min-width:1150px) {
    .header-principal {
        // position: relative;
        // top: 0;
        // left: 0;
        // right: 0;
        // height: 100vh;
        padding: 0 150px;
        width: calc(100% - 300px);
    }
    
    nav{
        top: 0px;
        bottom: initial;
        padding: 0 80px;
        max-width: calc(1440px - 160px);
        // transition: 200ms ease-in;
        ul{
            justify-content: left;
            width: fit-content;
            li.nav-list-elt{
                button{
                   
                    font-size: 18px;
                   
                    width: 152px;
                    height: 111px;
                    &::after{
                        left:13px;
                    }
                    &:hover{
                        &::after{
                            top: 0;
                        }
                    }
                }
            }
        }
    }
    nav.mobile{
        position: fixed;
        bottom: 0;
        left: 0px;
        right: auto;
        padding: 0;
        width: calc(170px);
        transition: 200ms ease-out;
        overflow: hidden;
        ul{
            align-items: center;
            width: 100%;
            margin: auto;
            height: 100%;
            flex-direction: column;
            li.nav-list-elt:last-child{
                position: absolute;
                bottom: 30px;
            }
            button.btn-nav{
                border: none;
                font-size: 18px;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color-third;
                width: fit-content;
                height: 111px;
                padding: 0;
               
                transition: 300ms ease-in ;
                &::after{
                    content:url('../../../assets/backDesign/NavFocus.svg');
                    position: absolute;
                    top: 0;
    
                    left: -160px;
                    z-index: -1;
                }
                &:hover{
                    cursor: pointer;
                    font-weight: bold;
                    color: #F44336;
                    justify-content: center;
                    transition: 300ms ease-in-out ;
                    opacity: 1;
                    &::after{
                        left: -40px;
                        transition: 300ms ease-in-out ;
                    }
                }
            }
        }
    }
    .data-start{
        width: initial;
        *{
            margin: 0;
        }
    }
    
}
@media screen and (min-width:1440px) {
    .header-principal {
        // position: relative;
        // top: 0;
        // left: 0;
        // right: 0;
        // height: 100vh;
        padding: 0 105px;
        width: calc(100% - 300px);
    }
    nav{
        top: 0px;
        bottom: initial;
        padding: 0 80px;
        max-width: calc(1440px - 160px);
        // transition: 200ms ease-in;
        ul{
            justify-content: left;
            width: fit-content;
            :first-child{
                padding-left: 15px;
            }
            li.nav-list-elt{
                
                button{
                    font-size: 18px;
                    width: fit-content;
                    height: 111px;
                    padding: 10px 40px 10px 35px;
                    &::after{
                        left:13px;
                    }
                    &:hover{
                        &::after{
                            top: 0;
                        }
                    }
                }
            }
        }
    }
    nav.mobile{
        position: fixed;
        bottom: 0;
        left: 0px;
        right: auto;
        padding: 0;
        margin: auto;
        min-width: fit-content;
        width: 12vw;
        transition: 200ms ease-out;
        overflow: hidden;
        ul{
            align-items: center;
            width: 100%;
            height: 100%;
            margin: auto;
            flex-direction: column;
            li.nav-list-elt:last-child{
                position: absolute;
                bottom: 30px;
            }
            button.btn-nav{
                border: none;
                font-size: 18px;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color-third;
                width: 152px;
                height: 111px;
                padding: 0;
               
                transition: 300ms ease-in ;
                &::after{
                    content:url('../../../assets/backDesign/NavFocus.svg');
                    position: absolute;
                    top: 0;
    
                    left: -160px;
                    z-index: -1;
                }
                &:hover{
                    cursor: pointer;
                    font-weight: bold;
                    color: #F44336;
                    justify-content: center;
                    transition: 300ms ease-in-out ;
                    opacity: 1;
                    &::after{
                        left: 15px;
                        transition: 300ms ease-in-out ;
                    }
                }
            }
        }
    }
    .data-start{
        width: initial;
        *{
            margin: 0;
        }
    }
    
}