.container-works {
    z-index: 1;
    height: 100vh;
    border: solid yellow;
    div.content-work {
        height: 100%;
        margin: auto;
        max-width: 100%;
        display: flex;
        align-items: center;
    }
}
.carrousels{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    .carou-cust{
        display: flex;
        overflow: hidden;
        max-width: 561px;
    }
    .elt {
        display: flex;
        width: fit-content;
        flex: 1 0 100%;
        justify-content: center;
        transform: translateX(0px);
    }
}
.content-txt-work {
    flex-direction: column;
}
.title-project{
    font-size: 24px;
    font-weight: 600;
    color: #F44336;
    text-transform: capitalize;
}
.content-txt-work{
    display: flex;
    max-width: 561px;
}
.content-work{
    .carou{
        height: 100%;
        display: flex;
        width: 100%;
        .carou-content{
            position: relative;
            width: 100%;
            display: flex;
        }
        .list-techno-carou{
            display: flex;
            .tec{
                background: #928A97;
                color: white;
                font-size: 14px;
                margin-right: 20px;
                border-radius: 3px;
                display: flex;
                height: 40px;
                text-transform: uppercase;
                align-items: center;
                padding: 0 16px;
                
            }
        }
    }
}

.btn {
    position: absolute;
    z-index: 3;
    left: 43px;
    right: 43px;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: auto;
    button{
        cursor: pointer;
        border: none;
        border-radius: 35px  0 0 35px;
        
        background: $color-third;
        width: 100px;
        height: 60px;
        color: white;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 200ms ease-in-out;
        &:hover {
            width: 150px;
            
            padding-right: 60px;
            background: $color-secondary;
        }
        
        svg{
            height: 100%;
            width: 100%;
        }

    }
    .btn-prev{
        transform: rotate(180deg);
        position: absolute;
        left: 0;
    
    }.btn-next{
        position: absolute;
        right: 0;
    }
}