.container-works {
    z-index: 1;
    height: 100vh;
    // max-width: 80%;
    margin: auto;
    div.content-work {
        height: 100%;
        margin: auto;
        max-width: 100%;
        display: flex;
        align-items: center;
    }
}
.carrousels{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'txt'
                         'img';
    width: 100%;
    padding: 34px 0;
    height: fit-content;
    overflow: hidden;
    align-items: center;

    img.img-circle-W{
        top: 0px;
    }
    .carou-cust{
        display: flex;
        overflow: hidden;
        max-width: 561px;
    }
    .elt {
        display: flex;
        width: fit-content;
        flex: 1 0 100%;
        justify-content: center;
        transform: translateX(0px);
    }
}
.content-txt-work {
    flex-direction: column;
}
.title-project{
    font-size: 24px;
    font-weight: 600;
    color: #F44336;
    text-transform: capitalize;
}
.content-txt-work{
    display: flex;
    // max-width: 561px;
}

.content-work{
    .carou{
        height: 100%;
        display: flex;
        width: 100%;
        .carou-content{
            position: relative;
            width: 100%;
            display: flex;
        }
        .list-techno-carou{
            display: none; //ADEL
            // display: flex;
            padding-left: 5px;
            .tec{
                background: #928A97;
                color: white;
                font-size: 14px;
                margin-right: 20px;
                border-radius: 3px;
                display: flex;
                height: 40px;
                text-transform: uppercase;
                align-items: center;
                padding: 0 16px;

            }
        }.site-code{
            display: flex;
            width: 88.9px;
            margin-top: 48px;
            padding-left: 5px;
            justify-content: space-between;

            .web-gh-icon, .web-site-icon{
                svg{
                    color: $color-third;
                    fill: $color-third;
                    height: 36.3px;
                    width: 36.3px;
                }
                svg:hover{
                    transform: scale(1.2);
                    color: $color-secondary;
                    fill: $color-secondary;
                }

            }
        }
    }
}

.btn {
    position: absolute;
    z-index: 3;
    left: 43px;
    right: 43px;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: auto;
    button{
        cursor: pointer;
        border: none;
        border-radius: 35px  0 0 35px;

        background: $color-third;
        width: 100px;
        height: 60px;
        color: white;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 200ms ease-in-out;
        &:hover {
            width: 150px;

            padding-right: 60px;
            background: $color-secondary;
        }

        svg{
            height: 100%;
            width: 100%;
        }

    }
    .btn-prev{
        transform: rotate(180deg);
        position: absolute;
        left: 0;

    }.btn-next{
        position: absolute;
        right: 0;
    }
}
@media screen and (min-width:800px){
    .container-works {
        z-index: 1;
        height: 100vh;
    }
    //     div.content-work {
    //         height: 100%;
    //         margin: auto;
    //         max-width: 100%;
    //         display: flex;
    //         align-items: center;
    //     }
    
    .carrousels{
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        padding: 34px 0;
        height: fit-content;
        overflow: hidden;
        align-items: center;

        img.img-circle-W{
            top: 0px;
        }
        .carou-cust{
            display: flex;
            overflow: hidden;
            max-width: 561px;
        }
        .elt {
            display: flex;
            width: fit-content;
            flex: 1 0 100%;
            justify-content: center;
            transform: translateX(0px);
        }
    }
    .content-txt-work {
        flex-direction: column;
    }
    .title-project{
        font-size: 24px;
        font-weight: 600;
        color: #F44336;
        text-transform: capitalize;
    }
    .content-txt-work{
        display: flex;
        // max-width: 561px;
    }

    .content-work{
        .carou{
            height: 100%;
            display: flex;
            width: 100%;
            .carou-content{
                position: relative;
                width: 100%;
                display: flex;
            }
            .list-techno-carou{
                display: none; //ADEL
                // display: flex;
                padding-left: 5px;
                .tec{
                    background: #928A97;
                    color: white;
                    font-size: 14px;
                    margin-right: 20px;
                    border-radius: 3px;
                    display: flex;
                    height: 40px;
                    text-transform: uppercase;
                    align-items: center;
                    padding: 0 16px;

                }
            }.site-code{
                display: flex;
                width: 88.9px;
                margin-top: 48px;
                padding-left: 5px;
                justify-content: space-between;

                .web-gh-icon, .web-site-icon{
                    svg{
                        color: $color-third;
                        fill: $color-third;
                        height: 36.3px;
                        width: 36.3px;
                    }
                    svg:hover{
                        transform: scale(1.2);
                        color: $color-secondary;
                        fill: $color-secondary;
                    }

                }
            }
        }
    }

    .btn {
        position: absolute;
        z-index: 3;
        left: 43px;
        right: 43px;
        bottom: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        margin: auto;
        button{
            cursor: pointer;
            border: none;
            border-radius: 35px  0 0 35px;

            background: $color-third;
            width: 100px;
            height: 60px;
            color: white;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 200ms ease-in-out;
            &:hover {
                width: 150px;

                padding-right: 60px;
                background: $color-secondary;
            }

            svg{
                height: 100%;
                width: 100%;
            }

        }
        .btn-prev{
            transform: rotate(180deg);
            position: absolute;
            left: 0;

        }.btn-next{
            position: absolute;
            right: 0;
        }
    }
}